<div class="z-aside-view">
    <div class="z-aside-wrap">
        <ul>
            <li ng-repeat="nav in navs">
                <a ng-click="clickItem(nav)" ng-class="nav.current ? 'current' : ''" ng-if="!nav.children || nav.children.length === 0"  ng-href="{{nav.routeUrl}}">
                    <img ng-src="{{nav.current ? nav.currentIcon : nav.defaultIcon}}"/>
                    <span>{{ nav.name }}</span>
                </a>
                <span ng-if="nav.children && nav.children.length > 0">
                    <img ng-src="{{nav.current ? nav.currentIcon : nav.defaultIcon}}"/>
                    <span>{{ nav.name }}</span>
                </span>
                <ul ng-if="nav.children && nav.children.length > 0">
                    <li ng-click="clickItem(child)" ng-class="child.current ? 'current' : ''" ng-repeat="child in nav.children"><a ng-href="{{ child.routeUrl }}">{{ child.name }}</a></li>
                </ul>
            </li>
            <!--<li>-->
                <!--<a href="#/user/index">-->
                    <!--<img src="../../images/directive/aside/home_current.png"/>-->
                    <!--<span>首页</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<span>-->
                    <!--<img src="../../images/directive/aside/function.png"/><span>功能</span>-->
                <!--</span>-->
                <!--<ul>-->
                    <!--<li><a href="#/sign_in">用户管理</a></li>-->
                    <!--<li><a href="#/department/list">科室管理</a></li>-->
                    <!--<li><a href="#/job_title/list">职称管理</a></li>-->
                    <!--<li><a href="#/source_number/setting">号源设置</a></li>-->
                    <!--<li><a href="#/appointment/list">预约管理</a></li>-->
                    <!--<li><a href="#/sicker/list">病人管理</a></li>-->
                    <!--<li><a href="#/page/list">页面管理</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
</div>
