<z-header></z-header>
<z-aside current-indexes="pageConfig.navIndexes"></z-aside>
<div class="ee-admin-index ee-body">
    <div class="yy-wrapper">
        <h2>就诊卡管理</h2>
        <div class="yy-whiter-board">
            <div class="yy-panel-item row">
                <div class="yy-search-bar">
                    <form>
                        <input ng-model="pageConfig.searchKey" placeholder="姓名/就诊卡号/身份证号/预约号" type="text" class="yy-search-bar-input"/>
                        <input type="submit" value="筛选" ng-click="search()"/>
                        <span class="yy-search-bar-icon"></span>
                    </form>
                </div>
            </div>
            <div class="yy-panel-item">
                <div class="ee-table-list">
                    <div class="content">
                        <div class="row list-header">
                            <div class="col-xs-3">
                                <span>微信标识</span>
                            </div>
                            <div class="col-xs-1">
                                <span>姓名</span>
                            </div>
                            <div class="col-xs-3">
                                <span>身份证号</span>
                            </div>
                            <div class="col-xs-2">
                                <span>就诊卡类型</span>
                            </div>
                            <div class="col-xs-2">
                                <span>就诊卡号</span>
                            </div>
                            <div class="col-xs-1">
                                <span>操作</span>
                            </div>
                        </div>
                        <div class="row list-info" ng-repeat="member in pageConfig.memberList">
                            <div class="col-xs-3">
                                <span>{{member.open_id}}</span>
                            </div>
                            <div class="col-xs-1">
                                <span>{{member.nickname}}</span>
                            </div>
                            <div class="col-xs-3">
                                <span>{{member.IDCard}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{member.cardType}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{member.cardNumber}}</span>
                            </div>
                            <div class="col-xs-1 handle">
                                <a href="#/sicker/detail/{{ member.id }}">查看</a>
                            </div>
                        </div>
                    </div>
                    <z-pagination config="pageConfig.pagination"></z-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

