<z-header></z-header>
<z-aside current-indexes="pageConfig.navIndexes"></z-aside>
<div class="ee-admin-index user-detail-page  ee-body">
    <div class="option-entry-warp">

        <h2>职称管理</h2>

        <div class="yy-whiter-board">
                <div class="yy-panel-item row">
                    <div class="yy-search-bar">
                        <form>
                            <input placeholder="职称名称" type="text" class="yy-search-bar-input"/>
                            <input type="submit" value="筛选" onclick="alert('search')"/>
                            <span class="yy-search-bar-icon"></span>
                        </form>
                    </div>
                    <a href="#/job_title/add" class="yy-green-button">添加职称</a>
                </div>
                <div class="yy-panel-item">
                    <div class="ee-table-list">
                        <div class="content">
                            <div class="row list-header">
                                <div class="col-xs-2">
                                    <span>职称名称</span>
                                </div>
                                <div class="col-xs-6">
                                    <span>职称简介</span>
                                </div>
                                <div class="col-xs-2">
                                    <span>操作</span>
                                </div>
                            </div>
                            <div class="row list-info" ng-repeat="jobTitle in pageConfig.jobTitleList">
                                <div class="col-xs-2">
                                    <span>{{jobTitle.name}}</span>
                                </div>
                                <div class="col-xs-6">
                                    <span>{{jobTitle.description}}</span>
                                </div>
                                <div class="col-xs-2 handle">
                                    <a href="#/job_title/detail/{{ jobTitle._id }}">查看</a>
                                </div>
                            </div>
                        </div>
                        <!--<z-pagination config="pageConfig.pagination"></z-pagination>-->
                    </div>
                </div>
            </div>
    </div>
</div>

