<div class="z-header-view" ng-if="user">
    <div class="z-header-wrap">
        <div class="row z-header-content">
            <div class="left col-xs-6">
                <img  ng-click="backHome()" class="logo" src="images/global/logo-red.png"/>
                <span>
                    预约系统后台管理
                </span>

            </div>
            <div class="right col-xs-6">
                <div class="user">
                    <span ng-bind="user.nickname"></span>
                    <span>|</span>
                    <span ng-bind="translateRole(user.role)"></span>
                    <span>|</span>
                    <span class="quit" ng-click="quit($event)">退出</span>
                </div>
            </div>
        </div>
    </div>
</div>
