<z-header></z-header>
<z-aside current-indexes="pageConfig.navIndexes"></z-aside>
<div class="ee-admin-index user-detail-page  ee-body">
    <div class="option-entry-warp">

        <h2>科室管理</h2>

        <div class="yy-whiter-board">
                <div class="yy-panel-item row">
                    <div class="yy-search-bar">
                        <form>
                            <input placeholder="名称" type="text" class="yy-search-bar-input"/>
                            <input type="submit" value="筛选" onclick="alert('search')"/>
                            <span class="yy-search-bar-icon"></span>
                        </form>
                    </div>
                    <a href="#/department/add" class="yy-green-button">添加科室</a>
                </div>
                <div class="yy-panel-item">
                    <div class="ee-table-list">
                        <div class="content">
                            <div class="row list-header">
                                <div class="col-xs-2">
                                    <span>科室名称</span>
                                </div>
                                <div class="col-xs-4">
                                    <span>科室简介</span>
                                </div>
                                <div class="col-xs-1">
                                    <span>允许浏览</span>
                                </div>
                                <div class="col-xs-1">
                                    <span>允许预约</span>
                                </div>
                                <div class="col-xs-1">
                                    <span>对外可见</span>
                                </div>
                                <div class="col-xs-3">
                                    <span>操作</span>
                                </div>
                            </div>
                            <div class="row list-info" ng-repeat="department in pageConfig.departmentList">
                                <div class="col-xs-2">
                                    <span>{{department.name}}</span>
                                </div>
                                <div class="col-xs-4 text-3-line">
                                    <span>{{department.description}}</span>
                                </div>
                                <div class="col-xs-1">
                                    <span>{{department.canView ? '允许' : '关闭'}}</span>
                                </div>
                                <div class="col-xs-1">
                                    <span>{{department.canOrder ? '允许' : '关闭'}}</span>
                                </div>
                                <div class="col-xs-1">
                                    <span>{{department.opened ? '开放' : '关闭'}}</span>
                                </div>
                                <div class="col-xs-3 handle">
                                    <a href="#/department/detail/{{ department._id }}">查看</a>
                                    <a href="#/department/edit/{{ department._id }}">编辑</a>
                                </div>
                            </div>
                        </div>
                        <!--<z-pagination config="pageConfig.pagination"></z-pagination>-->
                    </div>
                </div>
            </div>
    </div>
</div>

