<z-header></z-header>
<z-aside current-indexes="pageConfig.navIndexes"></z-aside>
<div class="yy-detail-page ee-body">
    <div class="yy-wrapper">
        <h2>预约管理</h2>
        <div class="yy-breadcrumb">
            <ul>
                <li><a href="#/user/index">预约管理<span>> </span></a></li>
                <li><span>预约详情</span></li>
            </ul>
        </div>
        <div class="yy-whiter-board">
            <div class="yy-panel-item">
                <div class="yy-form disabled">
                    <div class="yy-form-item">
                        <label>预约单号</label>
                        <input type="text" ng-model="pageConfig.appointment.orderNumber" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>姓名</label>
                        <input type="text" ng-model="pageConfig.appointment.name" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>身份证号</label>
                        <input type="text" ng-model="pageConfig.appointment.IDCard" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>就诊卡类型</label>
                        <input type="text" ng-model="pageConfig.appointment.cardType" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>就诊卡号</label>
                        <input type="text" ng-model="pageConfig.appointment.cardNumber" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>手机号码</label>
                        <input type="text" ng-model="pageConfig.appointment.mobile" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>预约科室</label>
                        <input type="text" ng-model="pageConfig.appointment.department" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>门诊类型</label>
                        <input type="text" ng-model="pageConfig.appointment.type" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>预约医生</label>
                        <input type="text" ng-model="pageConfig.appointment.doctor" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>预约时间</label>
                        <input type="text" ng-model="pageConfig.appointment.appointmentTimeRange" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>挂号费用</label>
                        <input type="text" ng-model="pageConfig.appointment.price" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>支付状态</label>
                        <input type="text" ng-model="pageConfig.appointment.payStatus" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>支付时间</label>
                        <input type="text" ng-model="pageConfig.appointment.payTime" disabled type="text"/>
                    </div>
                    <div class="yy-form-item">
                        <label>预约状态</label>
                        <input type="text" ng-model="pageConfig.appointment.status" disabled type="text"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

