<div class="pickup-page print-page ee-body-xx">
    <div class="yy-wrapper">
        <h3>民航上海医院-瑞金医院古北分院-微信预约单</h3>
        <div class="yy-whiter-board">
            <div class="yy-panel-item">
                <span class="bar-code-item">
                    <svg id="barcode"></svg>
                </span>
                <span class="bar-code-item status">未支付</span>
            </div>
            <div class="yy-panel-item no-top">
                <div class="print-info row">
                    <label class="col-xs-8">预约单号：<span>{{ pageConfig.appointment.orderNumber }}</span></label>
                    <label class="col-xs-4">姓名：<span>{{ pageConfig.appointment.name }}</span></label>
                </div>
                <div class="print-info row">
                    <label class="col-xs-8">身份证号：<span>{{ pageConfig.appointment.IDCard }}</span></label>
                    <label class="col-xs-4">联系电话：<span>{{ pageConfig.appointment.mobile }}</span></label>
                </div>
                <div class="print-info row">
                    <label class="col-xs-8">就诊卡号：<span>{{ pageConfig.appointment.cardNumber }}</span></label>
                    <label class="col-xs-4">就诊卡类型：<span>{{ pageConfig.appointment.cardType }}</span></label>
                </div>
            </div>
            <div class="yy-panel-item" style="padding-top:0;">
                    <div class="ee-table-list table-min-height bottom-border">
                            <div class="content">
                                <div class="row list-header no-background bottom-border">
                                    <div class="col-xs-2">
                                        <span>预约科室</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>门诊类型</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>预约医生</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>挂号费用</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>预约日期</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>预约时间段</span>
                                    </div>
                                </div>
                                <div class="row list-info no-border">
                                    <div class="col-xs-2">
                                        <span>{{pageConfig.appointment.department}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>{{pageConfig.appointment.outpatientType}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>{{pageConfig.appointment.doctor}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>{{pageConfig.appointment.price}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>{{pageConfig.appointment.date}}</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <span>{{pageConfig.appointment.startTime+'~'+pageConfig.appointment.endTime}}</span>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="">
                        <span style="margin-left: 10px; line-height: 33px; margin-right: 30px;">打印时间：{{pageConfig.appointment.printTime}}</span>
                        <span style="line-height: 33px; margin-right: 30px;">打印人：{{pageConfig.appointment.printer}}</span>
                    </div>
            </div>
        </div>
    </div>
</div>