<z-header></z-header>
<z-aside current-indexes="pageConfig.navIndexes"></z-aside>
<div class="ee-admin-index user-detail-page ee-body">
    <div class="yy-wrapper">
        <h2>用户管理</h2>
        <div class="yy-whiter-board">
            <div class="yy-panel-item row">
                <div class="yy-search-bar">
                    <form>
                        <input placeholder="员工号/姓名/手机号/身份证号" ng-model="pageConfig.searchKey" type="text" class="yy-search-bar-input"/>
                        <input type="submit" value="筛选" ng-click="search()"/>
                        <span class="yy-search-bar-icon"></span>
                    </form>
                </div>
                <a href="#/user/add" class="yy-green-button">添加用户</a>
            </div>
            <div class="yy-panel-item">
                <div class="ee-table-list">
                    <div class="content">
                        <div class="row list-header">
                            <div class="col-xs-2">
                                <span>员工号</span>
                            </div>
                            <div class="col-xs-2">
                                <span>姓名</span>
                            </div>
                            <div class="col-xs-2">
                                <span>科室</span>
                            </div>
                            <div class="col-xs-2">
                                <span>职称</span>
                            </div>
                            <div class="col-xs-2">
                                <span>角色</span>
                            </div>
                            <div class="col-xs-2">
                                <span>操作</span>
                            </div>
                        </div>
                        <div class="row list-info" ng-repeat="user in pageConfig.userList">
                            <div class="col-xs-2">
                                <span>{{user.username}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{user.nickname}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{user.department}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{user.jobTitle}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{user.role}}</span>
                            </div>
                            <div class="col-xs-2 handle">
                                <a href="#/user/detail/{{ user._id }}">查看</a>
                                <a href="#/user/edit/{{ user._id }}">编辑</a>
                                <a ng-click="resetPassword(user)">重置密码</a>
                            </div>
                        </div>
                    </div>
                    <z-pagination config="pageConfig.pagination"></z-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog-mask input-pop-panel" ng-show="pageConfig.popBox.show">
    <div class="dialog-content">
        <div class="dialog-header">重置{{pageConfig.popBox.currentUser.nickname}}的密码</div>
        <div class="dialog-body">
            <label>旧密码<input type="password" ng-model="pageConfig.popBox.oldPassword"/></label>
            <label>新密码<input type="password" ng-model="pageConfig.popBox.newPassword"/></label>
            <label>确认新密码<input type="password" ng-model="pageConfig.popBox.newPasswordAgain"/></label>
            <div class="dialog-footer">
                <p class="sure" ng-click="pageConfig.popBox.sure()">保存</p>
                <p class="cancel" ng-click="pageConfig.popBox.cancel()">取消</p>
            </div>
        </div>
    </div>
</div>


