<z-header></z-header>
<z-aside current-indexes="pageConfig.navIndexes"></z-aside>
<div class="ee-admin-index user-detail-page ee-body">
    <div class="yy-wrapper">
        <h2>用户管理</h2>
        <div class="yy-whiter-board">
            <div class="yy-panel-item row">
                <div class="yy-search-bar">
                    <form>
                        <input placeholder="姓名/就诊卡号/身份证号/预约号" type="text" class="yy-search-bar-input"/>
                        <input type="submit" value="筛选" onclick="alert('search')"/>
                        <span class="yy-search-bar-icon"></span>
                    </form>
                </div>
                <a href="#/user/add" class="yy-green-button">添加用户</a>
            </div>
            <div class="yy-panel-item">
                <div class="ee-table-list">
                    <div class="content">
                        <div class="row list-header">
                            <div class="col-xs-2">
                                <span>员工号</span>
                            </div>
                            <div class="col-xs-2">
                                <span>姓名</span>
                            </div>
                            <div class="col-xs-2">
                                <span>科室</span>
                            </div>
                            <div class="col-xs-2">
                                <span>职称</span>
                            </div>
                            <div class="col-xs-2">
                                <span>角色</span>
                            </div>
                            <div class="col-xs-2">
                                <span>操作</span>
                            </div>
                        </div>
                        <div class="row list-info" ng-repeat="user in pageConfig.userList">
                            <div class="col-xs-2">
                                <span>{{user.staffNumber}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{user.name}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{user.department}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{user.jobTitle}}</span>
                            </div>
                            <div class="col-xs-2">
                                <span>{{user.role}}</span>
                            </div>
                            <div class="col-xs-2 handle">
                                <a href="#/user/detail{{ user.id }}">查看</a>
                            </div>
                        </div>
                    </div>
                    <z-pagination config="pageConfig.pagination"></z-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

