<z-header></z-header>
<div class="schedule-setting-page ee-body-max">
    <div class="yy-wrapper">
        <h2><span ng-click="goBack()" class="yy-banner-back"><</span>修改密码</h2>
        <div class="yy-whiter-board">
            <div class="yy-panel-item">
                <div class="yy-form">
                    <div class="yy-form-item">
                        <label>旧密码</label>
                        <input type="password" ng-model="pageConfig.oldPassword" />
                    </div>
                    <div class="yy-form-item">
                        <label>新密码</label>
                        <input type="password" ng-model="pageConfig.newPassword"/>
                    </div>

                    <div class="yy-form-item">
                        <label>重复密码</label>
                        <input type="password" ng-model="pageConfig.newPasswordAgain" />
                    </div>
                    <div class="yy-form-item">
                        <button class="yy-green-button" style="margin-left: 0" ng-click="resetPassword()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
