<div class="sign-in-page-view">
    <div class="sign-in-container">
        <div class="hospital-logo">
            <img src="../../images/global/logo-red.png "/>
        </div>
        <div class="hospital-name">
            <p>瑞金医院古北分院</p>
        </div>
        <div class="system-name">
            <p>民航华东地区管理局航空人员体检鉴定中心预约系统</p>
        </div>
        <div class="sign-in-area">
            <form ng-submit="signIn()">
                <select ng-model="signInObject.terminal_type">
                    <option value="manager">后台管理端</option>
                    <option value="doctor">医生端</option>
                    <option value="pick_up">取号端</option>
                </select>
                <input placeholder="请输入账户名" ng-model="signInObject.username" type="text"/>
                <input placeholder="请输入密码" ng-model="signInObject.password" type="password" />
                <button type="submit">登录</button>
            </form>
        </div>
    </div>


</div>

