<z-header></z-header>
<div class="ee-admin-index">
    <div class="option-entry-warp">
        <div class="entry-box row">
        <div class="entry-view">
        <div class="offline">
        <div class="entry-icon"><img src="images/user_manager/restaurant.png" ng-click="goToView('restaurant')"></div>
        <div class="entry-name" ng-click="goToView('restaurant')"><span>餐厅</span></div>
        </div>
        </div>
        <div class="entry-view">
        <div class="online">
        <div class="entry-icon"><img src="images/user_manager/supermarket.png" ng-click="goToView('supermarket')"></div>
        <div class="entry-name" ng-click="goToView('supermarket')"><span>超市</span></div>
        </div>
        </div>
        <div class="entry-view">
        <div class="scan">
        <div class="entry-icon"><img src="images/user_manager/user.png" ng-click="goToView('user_manager')"></div>
        <div class="entry-name" ng-click="goToView('user_manager')"><span>用户</span></div>
        </div>
        </div>
        </div>

        <!--<div class="list-view row">-->
            <!--<div class="list-item col col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-click="goState('goods_manager')">-->
                <!--<div class="center green">-->
                    <!--<div class="brief">-->
                        <!--<p>菜品管理</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="hover">-->
                    <!--<div class="detail">-->
                        <!--<p>菜品管理</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="list-item col col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-click="goState('goods_order')">-->
                <!--<div class="center blue">-->
                    <!--<div class="brief">-->
                        <!--<p>订单查询</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="hover">-->
                    <!--<div class="detail">-->
                        <!--<p>订单查询</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="list-item col col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-click="goState('user_manager')">-->
                <!--<div class="center purple">-->
                    <!--<div class="brief">-->
                        <!--<p>用户管理</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="hover">-->
                    <!--<div class="detail">-->
                        <!--<p>用户管理</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="list-item col col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-click="goState('card_history')">-->
                <!--<div class="center orange">-->
                    <!--<div class="brief">-->
                        <!--<p>饭卡历史</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="hover">-->
                    <!--<div class="detail">-->
                        <!--<p>饭卡历史</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="list-item col col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-click="goState('card_statistic')">-->
                <!--<div class="center blue">-->
                    <!--<div class="brief">-->
                        <!--<p>饭卡统计</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="hover">-->
                    <!--<div class="detail">-->
                        <!--<p>饭卡统计</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="ee-footer">
            <span>技术支持：茼蒿科技</span>
        </div>
    </div>


</div>

